<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/superhero/bootstrap.min.css" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- first three banners -->
    <div>
        <img src={{url_for('static',filename="photos/baner.png")}} class="img-fluid" alt="Responsive image">
        <img src={{url_for('static',filename="photos/p1.png")}} class="img-fluid" alt="Responsive image">
        <img src={{url_for('static',filename="photos/p2.png")}} class="img-fluid" alt="Responsive image">
    </div>
    <!-- search part -->
    <div style="background-color: #FBD879">
        <div class="form-row">
            <div id = "basic_search" class="form-group col-md-6">
                <input class="form-control" type="text" id="ti" align="center">
                <button onclick="hi()" style="background-color: #1E59D4" type="submit" class="btn btn-info"> search Medicine</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputpersonName">user mail</label>
                <input class="form-control" type="text" id="t2">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputpersonName">user name</label>
                <input class="form-control" type="text" id="t3">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputpersonName">Medication wanted</label>
            <input class="form-control" type="text" id="t4">
            <button onclick="sendForMail()" style="background-color: #1E59D4" type="submit" class="btn btn-info"> update state</button>
        </div>
    </div>
    <!-- giveaway banner -->
    <div>
        <img src={{url_for('static',filename="photos/p3.png")}} class="img-fluid" alt="Responsive image">
    </div>
    <!-- giveaway part -->
    <div style="background-color: #4a4a4a">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputpersonName">what's your name?</label>
                <input type="personName" class="form-control" id="inputpersonName" placeholder="Jane Doe">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="janedoe@gmail.com">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Jerusalem">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputMedName">Medicine Name</label>
                <input type="text" class="form-control" id="inputMedName">
            </div>
            <div class="form-group col-md-6">
                <label for="inputExpirationDate">Expiration Date</label>
                <input type="date" class="form-control" id="inputExpirationDate">
            </div>
            <div class="form-group col-md-6">
                <label for="Amount">Amount</label>
                <input type="number" class="form-control" id="Amount">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    is Closed?
                </label>
            </div>
        </div>
        <button onclick="sendToDB()" style="background-color: #1E59D4" class="btn btn-info">Insert To Data Base</button>
    </div>
    <script>
        function sendToDB() {
            var inputpersonName = document.getElementById("inputpersonName").value;
            var inputEmail = document.getElementById("inputEmail").value;
            var inputCity = document.getElementById("inputCity").value;
            var inputMedName = document.getElementById("inputMedName").value;
            var inputExpirationDate = document.getElementById("inputExpirationDate").value;
            var inputAmount = document.getElementById("Amount").value;
            var isChecked = document.getElementById("gridCheck").value;
            $.post("/add", { med_name: inputMedName, date: inputExpirationDate, amount: inputAmount, is_closed: isChecked, city: inputCity, owner_mail: inputEmail, owner_name: inputpersonName })
                .done(function (data) {
                    alert("Data Loaded: " + data);
                });
        }

        const inputTag = document.getElementById('ti');
        const inputTag1 = document.getElementById('t2')
        const inputTag2 = document.getElementById('t3')
        const inputTag3 = document.getElementById('t4')
        function convertToTable(data) {
            var table = document.createElement("table");
            table.className = "table table-dark";
            var sDev= document.getElementById("basic_search");
            document.sDev.appendChild(table);
            // crateing the header of the file
            var tr = table.insertRow(0);
            var col = ["id", "medicine name", "expiration date", "amount", "is closed", "city", "owner name", "picture"]
            for (var i = 0; i < col.length; i++) {
                var th = document.createElement("th");      // TABLE HEADER.
                th.innerHTML = col[i];
                tr.appendChild(th);
            }

            for (var i = 0; i < Object.keys(data).length; i++) {
                var ir = table.insertRow(i + 1);
                var varTemp = data[Object.keys(data)[i]];
                for (var j = 0; j < col.length; j++) {
                    var tabCell = ir.insertCell(j);
                    tabCell.innerHTML = varTemp[col[j]];
                }
            }
        }


        function hi() {
            fetch(`/check=${inputTag.value}`).then((response) => {
                return response.json()
            }).then(data => {
                convertToTable(data);
            })


        }

        function sendForMail() {
            const inputTag1 = document.getElementById('t2');
            const inputTag2 = document.getElementById('t3');
            const inputTag3 = document.getElementById('t4');
            var mailVal = inputTag1.value;
            var nameVal = inputTag2.value;
            var medVal = inputTag3.value;
            $.post("/add_waiting", { mail: mailVal, name: nameVal, med: medVal });
            inputTag1.innerHTML = "";
            inputTag2.innerHTML = "";
            inputTag3.innerHTML = "";
        }
    </script>
</body>

</html>